<% include header %>
<link rel="stylesheet" type="text/css" href="/css/bindEmailPrompt.css"/>
<body>
	<div id="text-bind-success">
		<%= operSuccess %>
	</div>
	<div id="text-go-email">
        <%= operMsg1 %>；<br /><%= operMsg2 %>。
	</div>
	<div id="text-back-main">
		<%= operReturnBefore %><span>15</span><%= operReturn %>……
	</div>
    <div id="text-back-now" onclick='uc.common.linkTo("/user")'>
        <span><%= returnNow %></span>
    </div>
</body>
<script type="text/javascript">
var count = 14;
var timerId = "";
$(document).ready(function() {
	timerId = setInterval(function() {
		$("#text-back-main span").text(count);
		count--;
		if (count == 0) {
			clearInterval(timerId);
			uc.common.linkTo("/user");
		}
	}, 1000);
});
</script>
</html>
